.hero {
  padding-top: 2rem;
}

.hero__background {
  margin-top: 4rem;
  background-position: top center;
  background-repeat: no-repeat;
  height: 580px;
  display: flex;
  justify-content: center;
}
