.video {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.video__iframe {
  aspect-ratio: 16 / 9;
  width: 637px;
  height: 350px;
}

@media (max-width: 700px) {
  .video__iframe {
    aspect-ratio: 16 / 9;
    width: 320px;
    height: 275px;
  }
}
